body, ul, li {
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

.container{
    width: 450px;
    height: auto;
}

.left{
    margin: 20px 0 20px 20px;
    float: left;
}

.left span{
    display: block;
    text-align: center;
    padding-top: 10px;
}

.right{
    margin: 10px;
    float: left;
}

.right input{
    width: 190px;
}

.div_title{
    margin-top: 75px;
}

.div_title span{
    padding-right: 10px;
}

.div_url{
    margin-top: 25px;
}

.div_url span{
    padding-right: 10px;
}

.div_copyright{
    text-align: center;
    margin-top: 20px;
}