body, ul, li {
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

.container{
    width: 450px;
    height: auto;
}

.left{
    margin: 20px 0 20px 20px;
    float: left;
}

.left span{
    display: block;
    text-align: center;
    padding-top: 10px;
}

.right{
    margin: 10px 10px 10px 8px;
    float: left;
}

.right input{
    width: 190px;
}

.desc{
    font-size: large;
    text-align: center;
    margin-top: 10px;
}

.div_title{
    margin-top: 25px;
}

.div_title span{
    padding-right: 10px;
}

.div_url{
    margin-top: 25px;
}

.div_url span{
    padding-right: 10px;
}

.div_tinyurl{
    margin-top: 25px;
}

.div_tinyurl span{
    padding-right: 10px;
}

.div_copyright{
    text-align: center;
    margin-top: 20px;
}

.second{
    position: absolute;
    width: 400px;
    height: 400px;
    
    opacity:0;
    display:block;
    width:500px;
    height:500px;
    -webkit-transform:translate(0px,0px);
    -webkit-transition:opacity 1s ease-in-out 0.5s,-webkit-transform 1s ease-in-out;
    transition: opacity 1s ease-in-out 0.5s,transform 1s ease-in-out;

}

/* css3 动画 */
.originalCanvas:hover ~ canvas{
    opacity:1;

    -webkit-transform:translate(10px,-180px);
    -webkit-transition: opacity 1s ease-in-out,-webkit-transform 1s ease-in-out .1s;
    transition: opacity 1s ease-in-out,transform 1s ease-in-out .1s;

}